.gallery__wrapper {
  padding-top: 37px;
  padding-left: 6%;
  padding-right: 6%;
}

.gallery__title {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-bottom: 30px;
}

.gallery__description {
  text-align: center;
  padding-bottom: 35px;
  margin: 0;
  font-size: 14px;
}

.gallery__item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(229, 229, 229, 1);
    width: 112%;
    left: -6%;
    top: 0;
  }
}

.gallery__list {
  width: 1fr;
}

// TABLET
@media (min-width: @tablet-width) {
  .gallery__wrapper {
    padding-top: 66px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .gallery__title {
    margin: 0;
    font-size: 30px;
    color: #000000;
  }

  .gallery__description {
    padding-bottom: 13px;
    margin: 0;
    padding-top: 5px;
    padding-left: 16%;
    padding-right: 16%;
    font-size: 14px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item {
    width: auto;
    border: none;
    background-color: rgba(242, 242, 242, 1);
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;

    &:first-of-type {
      margin-top: 67px;
      width: 100%;
      grid-column: 1/3;
    }

    &:nth-of-type(3n) {
      background-color: rgba(234, 234, 234, 1);
    }

    &::before {

      display: none;
    }
  }
}

// DESKTOP
@media (min-width: @desktop-width) {
  .gallery__wrapper {
    padding-top: 103px;
    padding-left: 0;
    padding-right: 0;
  }

  .gallery__title {
    font-size: 30px;
  }

  .gallery__description {
    padding-bottom: 20px;
    padding-left: 32%;
    padding-right: 32%;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item {
    width: auto;
    background-color: inherit;
    padding: 0;
  }
}
