.image__title {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;
  padding-left: 2px;
}

.image__unit {
  display: block;
  position: relative;
  width: 100%;
  height: 281px;
}

.image__author {
  margin: 0;
  text-transform: none;
}

.image__like {
  display: inline-block;
  border: none;
  background-color: inherit;
  padding-top: 11px;
  padding-left: 1px;

  &:hover path {
    fill: rgba(129, 179, 210, 1);
  }
}

.image__likes-number {
  font-weight: 700;
  display: inline;
  padding-left: 8px;
}


// TABLET
@media (min-width: @tablet-width) {
  .image__unit {
    height: auto;
  }

  .image__likes-number {
    padding-left: 3px;
  }

  .image__title {
    padding-left: 18px;
    padding-top: 24px;
  }

  .image__author {
    padding-left: 20px;
    font-size: 14px;
    padding-top: 2px;
  }

  .image__like-wrapper {
    position: absolute;
    bottom: 27px;
    right: 6%;
  }

  .image:first-of-type {
    .image__like-wrapper {
      right: 3%;
    }
  }
}
// DESKTOP
@media (min-width: @desktop-width) {
  .image__description {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;

    &::before {
      content: "";
      background: #000000;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: 0;
    }
  }

  .image__like path {
    fill: #ffffff;
    opacity: 100%;
  }

  .image__like-wrapper {
    bottom: 30%;
    right: 5%;
  }

  .image__author {
    padding-bottom: 15px;
    z-index: 2;
    position: relative;
    padding-left: 25px;
  }

  .image__title {
    z-index: 2;
    position: relative;
    padding-left: 26px;
  }

  .image__unit {
    display: block;
  }

  .image:first-of-type {
    width: auto;
    grid-column: 1/4;

    .image__title {
      padding-left: 22px;
    }

    .image__author {
      padding-left: 23px;
    }

    .image__like-wrapper {
      right: 1.5%;
    }
  }

  .sprite__icon-like path {
    fill: rgb(255, 255, 255);
    opacity: 1;
  }
}
