.advantages {

}

.advantages__wrapper {
  padding-top: 32px;
}

.advantage__wrapper {
  padding-left: 18px;
  padding-right: 18px;
}

.advantages__title {
  margin: 0 auto;
  text-align: center;
}

.advantages__reasons {
  margin: 0 auto;
  text-align: center;
  padding-top: 35px;
}

.advantage__title {
  margin: 0 auto;
  text-align: center;
  padding-top: 54px;
}

.advantage__decoration-numbers {
  margin: 0 auto;
  text-align: center;
  padding-top: 11px;
}

.advantage__description {
  margin: 0 auto;
  text-align: center;
  padding-top: 17px;
}

.advantage__image-wrapper {
  padding-top: 40px;
}

.advantage {

  &--blue-background {
    background-color: rgba(129, 179, 210, 1);
    color: rgba(255, 255, 255, 1);
  }

  &--gray-background {
    background-color: rgba(238, 238, 238, 1);
  }
  &--housing h3 {
    text-align: start;
  }
  &--meal {

  }
  &--souvenirs {

  }
}

.advantage__title--blue-background {
  color: rgba(255, 255, 255, 1);
}

.hotel-search__title {
  font-weight: 700;
  font-size: 21px;
}

.hotel-search__wrapper {
  padding-top: 38px;
}
// TABLET
@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }

  .advantage--blue-background {
    grid-column: 1/4;
    display: flex;
  }

  .devil-brigde {
    order: -1;
  }
}
// DESKTOP
@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }

  .advantage--blue-background {
    grid-column: 1/4;
    display: flex;
  }

  .devil-brigde {
    order: -1;
  }
}
