// .main-footer__wrapper {
//   padding-top: 8px;
// }

.tag__text {
  margin: 0;
  padding-top: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.social__list {
  display: flex;
  justify-content: center;
}

.copyright {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 12px;
}

.copyright__link {
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  display: inline-block;
  padding: 7px 0;
  padding-right: 40px;

  svg {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    color: rgba(129, 179, 210, 1);
  }

  &:hover path {
    fill: rgba(129, 179, 210, 1);
  }

  &:active {
    color: #b3b3b3;
  }

  &:active path {
    fill: #b3b3b3;
  }
  // &::after {
  //   content: "";
  //   background-image: url("/img/htmlacademy-black.svg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   width: 27px;
  //   height: 34px;
  //   z-index: 2;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }
}

.main-footer__socials {
  margin: 0;
  padding-top: 32px;
}

.social__item {
  padding-left: 6px;

  &:hover rect {
    fill: rgba(102, 158, 192, 1);
  }

  &:active rect {
    fill: rgba(84, 150, 189, 1);
  }

  &:active path {
    opacity: 0.5;
  }
}

// .social__link {
//   &:hover .social__image {
//     rect {
//       fill: rgba(102, 158, 192, 1);
//     }
//   }
// }
// СПРАЙТ ЧЕРЕЗ МАСКУ
// VK
// .social__item--vk .social__link {
//   position: relative;
//   display: block;
//   padding: 0;
//   margin: 0;
//   width: 48px;
//   height: 48px;

//   &::after {
//     content: "";
//     mask-image: url("/img/social-vk.svg");
//     background-color: blue;
//     object-fit: cover;
//     width: 48px;
//     height: 48px;
//     position: absolute;
//   }
// }

// .social__item--vk .social__link:hover::after {
//   background-color:aqua;
// }

// // Telegramm
// .social__item--telegram .social__link {
//   position: relative;
//   display: block;
//   padding: 0;
//   margin: 0;
//   width: 48px;
//   height: 48px;

//   &::after {
//     content: "";
//     mask-image: url("/img/social-tg.svg");
//     background-color: tomato;
//     object-fit: cover;
//     width: 48px;
//     height: 48px;
//     position: absolute;
//   }
// }

// .social__item--telegram .social__link:hover::after {
//   background-color:aqua;
// }

// // youtube
// .social__item--youtube .social__link {
//   position: relative;
//   display: block;
//   padding: 0;
//   margin: 0;
//   width: 48px;
//   height: 48px;

//   &::after {
//     content: "";
//     mask-image: url("/img/social-tg.svg");
//     background-color: pink;
//     object-fit: cover;
//     width: 48px;
//     height: 48px;
//     position: absolute;
//   }
// }

// .social__item--youtube .social__link:hover::after {
//   background-color:aqua;
// }

// // copyright icon
// .main-footer__copyright .copyright__link {
//   position: relative;
//   display: block;
//   padding: 0;
//   margin: 0;
//   width: 27px;
//   height: 35px;

//   &::after {
//     content: "";
//     mask-image: url("/img/htmlacademy-black.svg");
//     background-color: black;
//     object-fit: cover;
//     width: 27px;
//     height: 35px;
//     position: absolute;
//   }
// }

// .main-footer__copyright .copyright__link:hover::after {
//   background-color:aqua;
// }
// TABLET
@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .tag__text {
    padding-left: 5px;
    font-size: 19px;
    padding-top: 49px;
  }

  .main-footer__socials {
    padding-top: 35px;
    padding-right: 6px;
  }

  .copyright__link {
    padding-top: 25px;
    padding-right: 49px;
  }

  .copyright__link svg {
    top: 17px;
    right: 7px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-around;
  }

  .tag__text {
    padding-left: 0;
    padding-right: 8px;
    padding-top: 51px;
    position: relative;
    left: -5px;
  }

  .main-footer__socials {
    padding-top: 37px;
    padding-right: 22px;
  }

  .copyright__link {
    padding-top: 27px;
    padding-right: 33px;
  }

  .copyright__link svg {
    top: 19px;
    right: -7px;
  }
}
