.main-footer {

}

.main-footer__wrapper {
  padding-top: 8px;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
  justify-content: space-between;
}
@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
