.main-container {
  margin: 0 auto;
}

.hero {
  background-color: #cdd0d3;
  background-image: url("/img/hero@1x.jpg");
  // background-image: image("/source/img/hero@1x.jpg#xywh=0,50,350,389");
  background-size: cover;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  position: relative;
  height: 389px;
  margin: 0;
  padding: 0;

  &::after {
    content: "";
    background-image: url("/img/hero-triangle-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 57px;
    width: 100%;
    z-index: 100;
    bottom: 0;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: url("/img/hero@2x.jpg");
  }
}

.hero__slogan-image {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}

.hero-for-catalog-form {
  background-color: #cdd0d3;
  background-image: url("/img/hero@1x.jpg");
  // background-image: image("/source/img/hero@1x.jpg#xywh=0,50,350,389");
  background-size: 400%;
  background-position: 45% 83%;
  background-repeat: no-repeat;
  position: relative;
  height: 160px;
  margin: 0;
  padding: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/hero@2x.jpg");
  }

  .hero__slogan-image {
    padding-top: 52px;
  }
}

// ОКНО УСПЕШНОЙ ОТПРАВКИ ФОРМЫ
.form__sent-message {
  display: none;
}

// ОКНО ОШИБКИ
.form__error-message {
  display: none;
}

// МОДАЛЬНЫЕ ОКНА
.modal {
  text-align: center;
  opacity: 100%;

  &::before {
    content: "";
    background: #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 10;
  }
}

.modal__wrapper {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: fixed;
  top: 25%;
  z-index: 11;
}

.modal__title {
  margin: 0;
  padding-top: 39px;
  font-size: 21px;
}

.modal__text {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 37px;
  padding-right: 39px;
}

.modal__button {
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 20px;
  border: none;
}

.succses {
  .button-wrapper {
    background-color: rgba(242, 242, 242, 1);
  }
}

.error {
  .modal__button {
    margin-top: 0;
  }
}

// TABLET
@media (min-width: @tablet-width) {
  .hero {
    background-position: 50%;
    height: 518px;
  }

  .hero-for-catalog-form {
    background-color: #cdd0d3;
    background-image: url("/img/hero@1x.jpg");
    // background-image: image("/source/img/hero@1x.jpg#xywh=0,50,350,389");
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 293px;
    margin: 0;
    padding: 0;

    .hero__slogan-image {
      padding-top: 95px;
    }
  }

  .modal__wrapper {
    width: 640px;
    height: 347px;
    position: fixed;
    left: 64px;
    right: 64px;
    z-index: 10;
    padding-left: 98px;
    padding-right: 98px;
    box-sizing: border-box;
    // display: block;
    // margin: 0 auto;
    // display: flex;
    // width: 100%;
    // height: 100%;
  }

  // .modal_window {
  //   display: block;
  //   width: 640px;
  //   position: relative;
  //   margin: auto;
  // }

  .modal__title {
    font-size: 30px;
    padding-top: 52px;
  }

  .modal__text {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .modal__button {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 14px;
    margin: 44px 91px;
    border: none;
    background-color: rgba(129, 179, 210, 1);
    text-align: center;
  }

  .button-wrapper {
    width: 640px;
    height: 146px;
    position: relative;
    left: -97px;
  }

  .error {
    .modal__wrapper {
      width: 400px;
      padding-left: 46px;
      padding-right: 46px;
      left: 184px;
      right: 184px;
    }

    .button-wrapper {
      width: 0;
      left: 15px;
    }

    .modal__button {
      width: 272px;
      margin: 0;
    }
  }
}
// DESKTOP
@media (min-width: @desktop-width) {
  .hero-for-catalog-form {
    background-color: #cdd0d3;
    background-image: url("/img/hero@1x.jpg");
    // background-image: image("/source/img/hero@1x.jpg#xywh=0,50,350,389");
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 274px;
    margin: 0;
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/hero@2x.jpg");
    }

    .hero__slogan-image {
      padding-top: 101px;
    }
  }

  .modal__wrapper {
    left: 320px;
    right: 320px;
  }

  .error {
    .modal__wrapper {
      left: 400px;
      right: 400px;
    }
  }
}
