.main-container {
  margin: 0 auto;
}

.hero {
  background-color: aliceblue;
  background-image: url("../img/index/index-hero-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  height: 389px;
  margin: 0;
  padding: 0;
}

.hero__wrapper {

}

.hero-for-catalog-form {
  background-color: aliceblue;
  background-image: url("../img/catalog/catalog-hero-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  height: 161px;
  margin: 0;
  padding: 0;
}

