.main-container {
  margin: 0 auto;
}
.button {
  background-color: rgba(129, 179, 210, 1);
}
.hero {
  background-color: aliceblue;
  background-image: url("/source/img/index/advantages-city.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
  height: 389px;
  margin: 0;
  padding: 0;
}
.hero__wrapper {

}
.hero-for-catalog-form {

}
.main-footer {

}
.main-footer__wrapper {
  padding-top: 8px;
}
