.fieldset__wrapper {
  padding-top: 25px;
  padding-bottom: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(229, 229, 229, 1);
    width: 106%;
    left: -6%;
    top: 0;
  }
}

// TABLET
@media (min-width: @tablet-width) {
  .fieldset__wrapper::before {
    display: none;
  }

  .fieldset__wrapper {
    border: none;
    padding: 0;
  }
}
