.wrapper-textarea {
  padding-bottom: 16px;
}

// TABLET
@media (min-width: @tablet-width) {
  .wrapper-radio {
    grid-column: 1/3;
    padding-top: 47px;
  }

  .wrapper-textarea {
    grid-column: 1/3;
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

// DESKTOP
@media (min-width: @desktop-width) {
  // Радиокнопки отвечающие за общее впечатление
  .wrapper-radio {
    padding-top: 52px;
  }

  .wrapper-review .wrapper-textarea {
    padding-top: 70px;
    padding-bottom: 41px;
  }
}
