// Свойства для кнопок
.button {
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(129, 179, 210, 1);
  opacity: 0.9;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: rgba(102, 158, 192, 1);
  }

  &:active {
    opacity: 1;
    color: rgba(255, 255, 255, 0.5);
  }

  &:disabled {
    background-color: rgba(229, 229, 229, 1);
  }
}

// Tablet
@media (min-width: @tablet-width) {
  .button {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    background-color: #ffffff;
  }

  .button-wrapper {
    width: 640px;
    position: relative;
    left: -97px;
  }
}

// Desktop
@media (min-width: @desktop-width) {
  .button {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    background-color: #ffffff;
  }
}
