// Базовый шрифт для всего документа
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  align-items: center;
  color: #333333;
  text-transform: uppercase;
  width: 320px;  /*правильно ли, что написал ширину здесь? */
}
// Фон для всей страницы
.page__body {
  background-color: #ffffff;
}
// Нормализуем все изображения
img {
  max-width: 100%;
  height: auto;
}
// Шрифт для заголовков
.title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  align-items: center;
  color: #333333;
}
// Свойства для кнопок
.button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
}
// Свойство для полей ввода формы
.control-label {
  text-transform: none;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
